# .github/workflows/deploy.yml
name: Deploy Bot

on:
  push:
    branches: [ main ]
  workflow_dispatch:

permissions:
  id-token: write
  contents: read

jobs:
  deploy:
    uses: jo-yrabbit-sandbox/sandbox-infrastructure/.github/workflows/reusable-bot-deploy.yml@add-bot-platform
    with:
      environment: sandbox
    secrets:
      TELEGRAM_TOKEN: ${{ secrets.TELEGRAM_TOKEN }}